<form [formGroup]="form" (ngSubmit)="submit()" class="shadow container mt-4">
    <div class="row">

        @for (field of schema; track $index) {
        @if (field.type === 'text' || field.type === 'email' || field.type === 'password') {
        <div class="col-md-4">
            <div class="form-group">
                <label for="usr">{{ field.label }}  @if(field.required){<span class="text-danger">*</span>} </label>
                <input [type]="field.type" class="form-control" [formControlName]="field.name" />
            </div>

             @if (form.get(field.name)?.touched &&
        (form.get(field.name)?.invalid || form.get(field.name)?.errors?.['invalidTrim'])) {
        <span class="text-danger">
           {{field.errorMessage || 'Please enter a valid '+ field.label}}
        </span>
        }

        </div>
       
        }





        <mat-checkbox class="mt-3 ms-0 ps-0" *ngIf="field.type === 'checkbox'" [formControlName]="field.name">
            {{ field.label }}
        </mat-checkbox>



        }
    </div>

<div class="mt-3 text-center">
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
</div>
    
</form>